.main-title{
    text-align: center;
    height: 700vh;
}

.container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container2{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 10% 8% 0%;
}

p{
    font-size: large;
}

.projects{
    width: 27%;
    height: 8%;
    margin: 2% 10%;
}

.frontend{
    border: 3px solid darkcyan;
    border-radius: 10px;
    height: 55vh;
    text-align: center;
    position: relative;
    z-index: 0;
}

#front-end{
    font-size: 500%;
}

#design{
    font-size: 500%;
    margin: 130% 1% 0;
}

.title{
    text-align: center;
    font-size: xxx-large;
    position: relative;
    top: 25px;
}

.hashtags{
    display: flex;
    justify-content: space-around;
    position: relative;
    top: 50px;
    padding: 0 5%;
}

.ant-image{
    opacity: 0;
    z-index: 2;
    position: fixed;
    left: 0.1px;
    border-radius: 10px;
}

.ant-btn{
    background-color: #282c34;
    border:none;
    color: #ffffff;
    position: relative;
    top: 75px;
  }

.frontend:hover .ant-image{
    opacity: 1;
    position: absolute;
    z-index: 1;
}

.frontend:nth-child(3){
    border: 2px green;
}


/* .bg-images{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
} */

/* .frontend:hover .bg-images{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: contain;
    background: beige;
} */

/* .market:hover .bg-images{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
}

.ecomm:hover .bg-images{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: 25% 50%;
}

.portfolio:hover .bg-images{
    opacity: 1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    object-position: 50% 50%;
} */

/* .projects p, .figma p{
    height: 60%;
} */

#arrow{
    margin-bottom: 5%;
}

.pipe{
    margin-top: -5%;
}


