@import url('https://fonts.googleapis.com/css2?family=Oregano&family=VT323&display=swap');

*{
  box-sizing: border-box;
  font-family: 'VT323', monospace !important;
}

body {
  overflow-x: hidden;
}

/* landing page styling */
.landing-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url("https://images.unsplash.com/photo-1584949091598-c31daaaa4aa9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8N3x8ZGV2ZWxvcGVyfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

#land-img{
  height:100vh;
  width:100%;
}


